<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/lib/theme/theme.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Huddle</title>
</head>
<body style="background: linear-gradient(303.65deg, #FE793D 7.3%, #F8AB38 97.19%); background-repeat: no-repeat; background-size: cover; background-position: center; height: 100vh; display: flex; flex-direction: column; align-items: center; justify-content: center;">
    <div class="bg-card bg-color-white v-border-r-32px f-poppins t-color-gray t-md" style="display: flex; align-items: center; justify-content: space-between; padding: 2rem;">
        <p>Unverified account! <span><a class="f-w-md t-color-orange" href="#">Back to Sign In</a></span></p>
    </div>
</body>
</html>