<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Round|Material+Icons+Outlined" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;600;700&display=swap" rel="stylesheet">
    <link href="./css/main.css" rel="stylesheet" type="text/css">
    <link href="./css/sidebar.css" rel="stylesheet" type="text/css">
    <link href="./css/profileCard.css" rel="stylesheet" type="text/css">
    <title>Huddle</title>
</head>
<body>  
    <div class="container">
        <!-- Left panel-->
        <aside class="panel panel--left">
            <div class="sidebar">
                <div class="sidebar__head">
                    <h1 class="sidebar__head__logo">hd</h1>
                    <div class="sidebar__search__cover">
                        <input class="sidebar__search" type="search" placeholder="Search Huddle"><i class="material-icons-outlined sidebar__search__icon">search</i></div>
                </div>
                <div class="sidebar__nav__links">
                    <div><i class="material-icons-outlined panel__icon">home</i><a href="#" class="sidebar__nav__link">Home</a></div> 

                    <div><i class="material-icons-outlined panel__icon">explore</i><a href="#" class="sidebar__nav__link">Explore</a></div>

                    <div><i class="material-icons-outlined panel__icon">event</i><a href="#" class="sidebar__nav__link">Events</a></div> 

                    <div><i class="material-icons-outlined panel__icon">account_circle</i><a href="#" class="sidebar__nav__link">Profile</a></div>

                    <div><i class="material-icons-outlined panel__icon">notifications</i><a href="#" class="sidebar__nav__link">Notifications</a></div>

                    <div><i class="material-icons-outlined panel__icon">lightbulb</i><a href="#" class="sidebar__nav__link">Issues</a></div>

                    <div><i class="material-icons-outlined panel__icon">settings</i><a href="#" class="sidebar__nav__link">Settings</a></div>
                </div>
            </div>
        </aside>

        <!-- Middle area -->
        <main class="panel panel--middle">

        </main>

        <!-- Right panel-->
        <aside class="panel panel--right">
            <!-- Pro Card-->
            <div class="profile__card">
                <div class="profile__card__info">
                    <div class="profile__card--propic propic"></div>
                    <div><span class="profile--name">Dinujaya</span></div>
                </div>
                <div class="profile__card__chat"><i class="material-icons-outlined">chat</i></div>
            </div>
        </aside>
    </div>
</body>
</html>