
/* Header of the page */
.header{
    height: 104px;
    padding: 32px 0px;
    border-bottom:1px solid rgba(95, 95, 95, 0.4);

    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #000000; 

}


/* AD item */

.ad-item{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(95, 95, 95, 0.4);
    padding: 34px 30px 16px 30px;
}

    /* Left */

.ad-item__left img{
    cursor: pointer;
}

    /* Right */

.ad-item__right{
    margin-left: 12px;
}

.ad-item__right__section1{
    display: flex;
    flex-direction: row;
    column-gap: 10px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;

    color: #8A98A4;
}

.ad-item__right__section1__btn{
    margin-left: auto;
    color: black;
}


.ad-item__right__section1__name{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;

    color: #000000;

    cursor: pointer;
}

.ad-item__right__section2{

    margin: 5px 0px 20px 0px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 117.8%;
    color: #000000;
}

.ad-item__right__section3 img{
    max-width: 100%;
    height: auto;
    border-radius: 14px;

    cursor: pointer;
}

.ad-item__right__section4{
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.ad-item__right__section4__btn{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: -0.015em;

    color: #8A98A4;
}

.ad-item__right__section4__btn span{
    cursor: pointer;
}