
/* Header of the page */
.header{
    height: 104px;
    padding: 32px 0px;
    border-bottom:1px solid rgba(95, 95, 95, 0.4);

    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #000000; 

}

    /* Issue row top*/

.issue-tbl__row__top{
    display: flex;
    background: #F7F9F9;
    height:54px;
    border-top: 2px solid #E8E8E8;

    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #000000;

    cursor: pointer;

}

.issue-tbl__row__top:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 0px 4px rgba(0, 0, 0, 0.25);
}

.issue-tbl__row__top--state-clicked{
    background: #E8E8E8;
    cursor: default;
}

.issue-tbl__row__top--state-clicked:hover{
    box-shadow: 0px 0px 0px 0px;
}

.issue-tbl__row__top__column{
    flex:1;
    text-align: center;

    display: flex;
    align-items:center;
    padding-left: 32px;
}

.issue-tbl__row__top__column--flex-2{
    flex:3;
}

.issue-tbl__row__top--heading{
    height:56px;

    font-family: Open Sans;
    line-height: 22px;
    font-weight: 600;

    cursor:default;
}

.issue-tbl__row__top--heading:hover{
    box-shadow: 0px 0px 0px 0px;
}

    /* Issue row expand*/

.issue-tbl__row__expand{
    background: #F7F9F9;
}

        /* Expand Section 1 */

.issue-tbl__row__expand__section1{
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.issue-tbl__row__expand__section1 i{
    cursor: pointer;
    text-align: right;
}

.issue-tbl__row__expand__section1__accepted-details {
    display: flex;
    flex-direction: row;
    flex:12;
    align-items: center;
    padding:20px 68px;

    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}


.issue-tbl__row__expand__section1__accepted-details__accepted-text {
    padding-right: 19px;
}
.issue-tbl__row__expand__section1__accepted-details__user-details {
    display: flex;
    align-items: center;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 117.8%;
    color: #000000;

    cursor: pointer;
}

            /* Expand Section 2 */

.issue-tbl__row__expand__section2{
    padding:0 68px;
    padding-top: 10px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
}

            /* Expand Section 3 */

.issue-tbl__row__expand__section3 {
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 85px;
    
}

.issue-tbl__row__expand__section3__btn {
    height:52px;
    width:150px;
    border: 1px solid #C4C4C4;
    border-radius: 32.5px;

    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    cursor: pointer;
}

.issue-tbl__row__expand__section3__btn--color-white {
    background: white;
    color: #000000;
}

.issue-tbl__row__expand__section3__btn--color-green {
    background: #08AA82;
    color: white;
}

