* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    display: flex;
    max-width: 1265px;
    margin: auto;
    margin-top: 20px;
}

.panel {
    display: flex;
    flex-direction: column;
}

.panel--left {
    width: 275px;
}

.panel--middle{
    width: 655px;
    margin-left: 30px;
}

.panel--right {
    width: 275px;
    margin-left: 30px;
}

.profile--name {
    font-weight: 700;
}

.hide {
    display: none !important;
}


.stage{
    margin-top:34px;
}

/* Seperator*/

.seperator{
    display: flex;
    flex-direction: row;
}

.seperator__btn{
    flex:1;
    height:56px;
    background: #F7F9F9;
    border-radius: 20px 0px 0px 0px;
    padding-top: 16px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #000000;

    cursor: pointer;
}

.seperator__btn--rounded-corner-left{
    border-radius: 20px 0px 0px 0px;
}

.seperator__btn--rounded-corner-right{
    border-radius: 0px 20px 0px 0px;
}

.seperator__btn--state-clicked{
    background: #08AA82;
    color: white;
    cursor: default;
}