.header{
    height: 104px;
    padding: 32px 0px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #000000; 
    border-bottom:1px solid rgba(95, 95, 95, 0.4);

}

.notification__area{
    width: 655px;
    margin-top:34px;
}

.notification__row{
    align-items: center;
    display: flex;
    background:white;
    height:65px;
    border-bottom: 2px solid #E8E8E8;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    cursor: pointer;
}

.notification__pfp{
    height: 24px;
    width: 24px;
    margin-left: 30px;
}
.notification__icon{
    margin-left: 30px;
    color: #08AA82;
}

.notification__row:hover{
    background-color: #e7e7e7;
}

.notification__row__text{
    flex:1;
    text-align: center;
    display: flex;
    align-items:center;
    padding-left: 30px;
}
