.profile__card {
    display: flex;
    flex-direction: row;
    height: 96px;
    align-items: center;
    background-color: #f1f1f1;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    justify-content: space-between;
}

.profile__card__info {
    display: flex;
    align-items: center;
}

.profile__card--propic {
    margin-right: 10px;
}

.profile__card__chat {
    margin-right: 20px;
}

.profile__card--propic {
    width: 64px;
    height: 64px;
    margin-left: 20px;
}

.publish__card {
    height: 50px;
    margin-top: 20px;
}

.propic {
    background-color: #333333;
    border-radius: 100%;
}